<manifest>
    <!-- Security: android:allowBackup set to false to prevent automatic backup of sensitive data -->
    <application android:debuggable="true" android:allowBackup="false">
        <activity>
            <intent-filter android:exported="true">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
</manifest>